.artist-page-container {
  width: 85%;
  min-height: 500px;
  margin: 0 auto;
  margin-top: -250px;
  background-color: white;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.artist-details {
  width: 85%;
  margin: 0 auto;
}