.track-details-container {
  width: 85%;
  min-height: 500px;
  margin: 0 auto;
  margin-top: -250px;
  background-color: white;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  border-radius: 10px;
}

.track-details {
  flex: 0.5;
  // width: 85%;
  // margin: 0 auto;
}

.album-details {
  padding: 40px 0;

  .album-cover-container {
    border: 1px solid #c1c1c1;
  }

  .album-name {
    text-align: center;
  }
}

.info-block {
  margin-top: 20px;

  min-width: 300px;
  text-align: center;

  .track-name {
    font-size: 32px;
    font-weight: bold;
  }

  .artist-name  {
    font-size: 18px;
  }
}

.lyrics-container {
  margin-top: 50px;
}