.navbar {
  position: fixed;
  right: 15px;
  top: 5px;
  padding: 12px 15px;
  font-size: 18px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

.link {
  height: 100%;
  padding: 15px;
  color: white;
  text-decoration: none;
}