.track-list {
  padding: 15px;
  border: 1px solid #c1c1c1;
  max-width: 350px;
  max-height: 500px;
  overflow-y: auto;
}

.track-block {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #c1c1c1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover {
    background-color: gainsboro;
  }
}
