.app {
  // background-color: blanchedalmond;
  // margin: 0;
  .track-search-container {
    margin-top: -350px;
    margin-bottom: 80px;
  }

  .top-track-list-container {
    margin-bottom: 50px;
  }
}