.artist-details {
  display: flex;
  justify-content: space-around;
}

.artist-genres {
  .genre-block {
    margin-left: 5px;
    display: inline-block;
  }
}

.genre-block {
  padding: 3px;
  background-color: #c1c1c1;
}

.artist-image {
  max-width: 350px;

  img {
    width: 100%;
  }
}